@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #342E37;
  --foreground: #FAFFFD;
  --primary: #3C91E6;
  --secondary: #9FD356;
  --tertiary: #FA824C;
  --error: red;

  /* 50% opacity*/
  --primary-50: #3C91E680;
  --secondary-50: #9FD35680;
  --tertiary-50: #FA824C80;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
body {
  color: var(--foreground);
  background: var(--background);
  background-image: url('../../public/wave.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

#navBar {
  background: var(--background);
  color: var(--foreground);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.textBlock {
  background: var(--secondary-50);
  color: var(--foreground);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.loginButton:hover {
  color: var(--secondary);
}

#login-register-formBox {
  background-color: var(--secondary-50);
  border-radius: 0.5rem;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

#login-register-formBox h1 {
  font-size: 2rem;
  font-weight: bold;
}

#login-register-formBox button {
  background-color: var(--tertiary);
  padding: 0.5rem;
  border-radius: 1rem;
}

#login-register-formBox input {
  color: var(--background);
  padding: 0.5rem;
  border-radius: 0.6rem;
}

#login-register-formBox select {
  color: var(--background);
  padding: 0.5rem;
  border-radius: 0.6rem;
}

.link {
  color: var(--tertiary);
}

.error_text{
  color: var(--error);
}