@import '../styles/navbar.css';
@import '../styles/dashboard.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #342E37;
  --foreground: #FAFFFD;
  --primary: #3C91E6;
  --secondary: #9FD356;
  --tertiary: #d46f40;
  --error: red;
  --text-block: #3d3d3d;

  --primary-darker: #2B6BBE;
  --secondary-darker: #5b9627;
  --tertiary-darker: #ac5330;

  --primary-darker-50: #2B6BBE80;

  /* 50% opacity*/
  --primary-50: #3C91E680;
  --secondary-50: #9fd356db;
  --tertiary-50: #d46f4080;

  /* 80% opacity */
  --background-80: #342E37CC;
  --primary-80: #3C91E6CC;
  --secondary-80: #9FD356CC;
  --tertiary-80: #d46f40CC;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
input,
select,
textarea {
  color: black;
}

html {
  font-size: 16px;
}

body {
  color: var(--foreground);
  background: var(--background);
  background-image: url('../../public/backgrounds/background8.webp');
  background-repeat: no-repeat;
  background-size: cover;
}



.textBlock {
  background: var(--secondary-80);
  backdrop-filter: blur(8px);
  color: var(--text-block);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.topNavBarElement {
  font-size: 1rem;
  color: var(--foreground);
  background: var(--background-80);
  padding: .25rem;
  backdrop-filter: blur(8px);
  border-radius: 0.6rem;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  opacity: 1;
}


.loginButton:hover {
  color: var(--secondary);
}

#login-register-formBox {
  background-color: var(--secondary-50);
  border-radius: 0.5rem;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

#login-register-formBox h1 {
  font-size: 2rem;
  font-weight: bold;
}

#login-register-formBox button {
  background-color: var(--tertiary);
  padding: 0.5rem;
  border-radius: 1rem;
}

#login-register-formBox input {
  color: var(--background);
  padding: 0.5rem;
  border-radius: 0.6rem;
}

#login-register-formBox select {
  color: var(--background);
  padding: 0.5rem;
  border-radius: 0.6rem;
}

.link {
  color: var(--tertiary);
}

.error_text {
  color: var(--error);
}

#sideBar {
  padding: 2rem;
  background-color: var(--secondary-80);
}

#contentView {
  padding: 2rem;
  background-color: var(--background-80);
}


#contentView a{
  font-weight: bold;
  color: var(--primary);
}
#contentView a:hover{
  color: var(--secondary);
}

#fronting {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  padding: 2rem;
  background-color: var(--background-80);
}

#logoutDiv {
  background-color: var(--background-80);
}

#logoutDiv button {
  width: 5rem;
}


.dashboard button {
  width: 12rem;
}

.negative{
  font-weight: bold;
  background-color: var(--tertiary);
  padding: .5rem;
  border: 2px solid var(--foreground);
  border-radius: 0.5rem;
}

.negative:hover{
  background-color: var(--tertiary-darker);
}

.positive {
  font-weight: bold;
  background-color: var(--primary);
  padding: .5rem;
  border: 2px solid var(--foreground);
  border-radius: 0.5rem;
}

.positive:hover {
  background-color: var(--primary-darker);
}




/* modal styling */
.modal {
  /*background-color: rgba(52, 46, 55, 0.85);*/
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-darker-50);
  backdrop-filter: blur(8px);
  border-top: 5px solid var(--primary-50);
  border-bottom: 5px solid var(--primary-50);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  padding: 1.5rem;
}

/*Loader blackbox*/
svg {
  width: 3.25em;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
}

circle {
  fill: none;
  stroke: hsl(44, 100%, 39%);
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}